svg {
    margin: auto;
    display: block;
}

/* cogs */
.cog {
    animation: rotate 2s linear infinite;
    transform-origin: 50%;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* conveyor belt */
.belt-animated line {
    animation: belt 0.28s linear infinite;
}

@keyframes belt {
    100% {
        transform: translate(60px, 0);
    }
}

/* TODO Quick fix*/
.circle-end-mask {
    transform: rotate(-13deg)translate(4px);
    transform-origin: 50%;
}

/* machine */
.machine {
    transform: skewY(-38deg)translate(15px, 110px);
}

.machine rect:last-child {
    transform: skewY(38deg)translate(20px, -96px);
}

/* packages */
#package-0, #package-1, #package-2 {
    transform: translate(-50px, 0);
    opacity: 0;
}

#package-0 {
    animation: package 3s linear infinite;
}

#package-1 {
    animation: package 3s linear infinite 1s;
}

#package-2 {
    animation: package 3s linear infinite 2s;
}


@keyframes package {
    0% {
        transform: translate(-50px, 0);
        opacity: 0.3;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(600px, 0);
        opacity: 0.3;
    }
}



